<ul class="navigation-list">
  <li><img src="assets/navigation-icons/home-outline.svg" alt="home-icon"> Home</li>
  <li><img src="assets/navigation-icons/bulb-outline.svg" alt="explore-icon">Explore</li>
  <li><img src="assets/navigation-icons/" alt="notifications-icon">Notifications</li>
  <li><img src="assets/navigation-icons/home-outline.svg" alt="messages-icon">Messages</li>
  <li><img src="assets/navigation-icons/home-outline.svg" alt="bookmarks-icon">Bookmarks</li>
  <li><img src="assets/navigation-icons/home-outline.svg" alt="lists-icon">Lists</li>
  <li><img src="assets/navigation-icons/home-outline.svg" alt="profile-icon">Profile</li>
  <li><img src="assets/navigation-icons/home-outline.svg" alt="more-icon">More</li>
</ul>
