<ul class="navigation-list">
  <li><img src="assets/navigation-icons/home-outline.svg" alt="home-icon"> Home</li>
  <li><img src="assets/navigation-icons/bulb-outline.svg" alt="explore-icon">Explore</li>
  <li><img src="assets/navigation-icons/notifications-outline.svg" alt="notifications-icon">Notifications
  </li>
  <li><img src="assets/navigation-icons/mail-outline.svg" alt="messages-icon">Messages</li>
  <li><img src="assets/navigation-icons/bookmark-outline.svg" alt="bookmarks-icon">Bookmarks</li>
  <li><img src="assets/navigation-icons/document-text-outline.svg" alt="lists-icon">Lists</li>
  <li><img src="assets/navigation-icons/person-outline.svg" alt="profile-icon">Profile</li>
  <li><img src="assets/navigation-icons/ellipsis-horizontal-outline.svg" alt="more-icon">More</li>
  <button type="button" class="button__tweet">Tweet</button>
</ul>
<div class="user-menu" role="button">
  <img src="assets/placeholders/placeholderfortwitter.png" class="user-menu__image"
       alt="placeholder user image">
  <div class="user-menu__information">
    <div class="user-menu__information-name">Renato</div>
    <div class="user-menu__information-nickname">@khazziro</div>
  </div>
</div>
