<div class="who-to-follow">
  <div class="who-to-follow__header">Who to follow</div>
  <div class="who-to-follow__description">
    <div class="who-to-follow__description-text">
      <img src="assets/placeholders/placeholderfortwitter.png" alt="placeholder avatar"
           class="who-to-follow__description-text-avatar">
      <div class="who-to-follow__description-text-content">
        <div class="who-to-follow__description-text-content-name">Mircea</div>
        <div class="who-to-follow__description-text-content-username">@MirceaPop</div>
      </div>
    </div>
    <button type="button" class="who-to-follow__description-button">Follow</button>
  </div>

</div>
