:host{
  display: block;
  width: 250px;
  height: 100vh;
}

.twitter-logo{
  height: 40px;
  padding: 12px;

  &:hover{
    cursor: pointer;
    filter: none;
    background-color: #f7f7f7;
    border-radius: 999px;
  }
}
