:host {
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-top-tweets {
  height: 26px;
  padding: 10px;
  border-radius: 16px;

  &:hover {
    cursor: pointer;
    filter: none;
    background-color: #f7f7f7;
    transition-duration: 300ms;

  }
}
