.trends {
  max-height: 900px;
  background-color: #eff3f4;
  margin: 20px 0;
  border-radius: 10px;

  &-header {
    font-size: 20px;
    font-weight: bold;
    padding: 12px 16px;

  }

  &-content {
    padding: 12px 16px;
    cursor: pointer;

    &:hover {
      background-color: #d7dbdc;
      transition: background-color 300ms;
    }
    &:hover:last-child{
      border-radius: 0 0 10px 10px;
    }

    &-category {
      font-size: 13px;
      color: rgb(83, 100, 113);
    }

    &-interest {
      font-size: 15px;
      font-weight: bold;
    }

    &-tweets {
      font-size: 13px;
      color: rgb(83, 100, 113);
    }
  }
}
