<div class="tweet-input">
  <input placeholder="What's happening?" class="tweet-input-text">
  <div class="reply-select">
    <img src="assets/section-icons/home/earth-outline.svg" alt="who can see the tweets"
         class="reply-select-category">
    <div class="reply-select-text">Everyone can reply</div>
  </div>
</div>
<div class="tweet-select">
  <div class="tweet-select-type">
    <img src="assets/section-icons/home/image-outline.svg" alt="image-type">
    <img src="assets/section-icons/home/play-outline.svg" alt="gif-type">
    <img src="assets/section-icons/home/pie-chart-outline.svg" alt="poll-type">
    <img src="assets/section-icons/home/happy-outline.svg" alt="emoji-type">
    <img src="assets/section-icons/home/calendar-outline.svg" alt="schedule-type">
  </div>
  <button class="tweet-select-button">Tweet</button>
</div>
